.progress {
    background-color: #cfcfca;
    border-radius: 3px;
    box-shadow: none;
    height: 8px;
}

.progress-thin {
    height: 4px;
}

.progress-bar {
    background-color: #7A9E9F;
}

.progress-bar-primary {
    background-color: #7A9E9F;
}

.progress-bar-info {
    background-color: #68B3C8;
}

.progress-bar-success {
    background-color: #7AC29A;
}

.progress-bar-warning {
    background-color: #F3BB45;
}

.progress-bar-danger {
    background-color: #EB5E28;
}
