.package-item {
    .title {
        font-weight: 700;
    }

    .progress {
        margin: 5px 0 0;
    }

    .badge {
        text-transform: uppercase;

        // Package Statuses
        &.available {
            background: #548235;
        }

        &.funded-active {
            background: #337ab7;
        }

        &.closed {
            background: #777;
        }

        // Package Risk Profile
        &.conservative {
            background: #9bc2e6;
        }

        &.moderate {
            background: #a9d08e;
        }

        &.aggressive {
            background: #f4b084;
        }

        &.high-risk {
            background: #c65911;
        }
    }
}
